body {
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
}

/* where VW < 750px */
header {
  width: 100%;
  color: white;
  padding: 10px 20px ;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  background:#2e2e2e;
  text-transform: uppercase;
}


/* where VW > 1000px */
/* header {
  width: 100%;
  color: #151515;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  background: white;
  text-transform: uppercase;
} */


/* where VW is between 750 - 1000px */
/* header {
  width: 100%;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  background: #2e2e2e;
  text-transform: uppercase;
  color: white;
} */

.scroll-bar {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  justify-items: center;
  width: 85%;
  height: 200px;
  background-image: url(http://www.azquotes.com/picture-quotes/quote-nothing-is-as-strong-as-the-heart-of-a-volunteer-jimmy-doolittle-58-8-0844.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* when hovered over */
#btn-left {
  grid-column: 1 / span 1;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5em 1em 5em 1em;
}

/* when hovered over */
#btn-right {
  grid-column: 3 / span 1;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5em 1em 5em 1em;
}

