body {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.932);
  text-transform: uppercase;
  color: white;
  border: rgb(27, 26, 26) solid;
  border-radius: 5px;
}

.scroll-bar {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  justify-items: center;
  width: 85%;
  height: 200px;
  background-image: url(http://www.azquotes.com/picture-quotes/quote-nothing-is-as-strong-as-the-heart-of-a-volunteer-jimmy-doolittle-58-8-0844.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#btn-left {
  grid-column: 1 / span 1;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5em 1em 5em 1em;
}

#btn-right {
  grid-column: 3 / span 1;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5em 1em 5em 1em;
}

